
.MuiDrawer-paperAnchorLeft {
    background-color: #141625 !important; /* Example background color */
}

.itemCost {
    color: #DFE3FA;
    align-self: center;

}

.invoice-head {
    display: flex;
    justify-content: flex-start;
    padding-bottom: 20px;
}

.newInvoice-editInvoice-p {
    color: white;
    font-size: 20px;
    font-weight: 600;
}

.sidebarTitles {
    color: #7C5DFA;
}

.form {
    display: flex;
    flex-direction: column;
    background-color: #131625;
    padding: 50px;
    font-family: 'League Spartan', Arial, sans-serif;


}

.mainDiv{
    display: flex;
    flex-direction: column;
    background-color: #141625;

}

.billFromDiv {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.billFrom-city-post-country {
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.billToDiv {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 25px;

}

.billTo-city-post-country{
    display: flex;

    justify-content: space-between;
}

.invoiceDate-PaymentTerms {
    display: flex;
    gap: 25px;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
}

.ItemList {
    display: flex;
    gap: 15px;
    flex-direction: column;
    margin-top: 25px;
}

.items-div {
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.buttonDiv{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;

}

.draft-save-buttons{
    display: flex;
    flex-direction: row;
    /*justify-content: flex-start;*/
    gap: 15px;
}

.item {
    display: flex;
    
}

@media screen and (max-width: 414px) {
    .form {
        padding: 20px
    }

    .billTo-city-post-country {
        gap: 13px;
        width: 100%;
        flex-wrap: wrap;
    }

    .billTo-city {
        width: 48%;
    }

.billTo-postCode {
    width: 48%
}

.billTo-country {
    width: 100%;
}

.items-div {
    flex-wrap: wrap;
}

.item-input {
    width: 100%;
}

.item-qty {
    width: 15%;
}

.item-price {
    width: 30%;
}

.draft-save-buttons {
    gap: 25px;
}

.secondaryBtns {
    padding: 10px !important;
    font-size: 14px !important;
}

.invoice-head {
    flex-direction: column;
    gap: 20px;

}

.btn-close-mobile {
    padding: 0 !important;
    /*display: flex !important;*/
}

}